{% extends 'base.html' %}
{% block content %}
<main>
  <section class="previews">
      <div>
        {% for post in posts %}
          <figure class="absolute-bg preview__img"
                  style="background-image: url({{ post.images.url }});"></figure>
        {% endfor %}
          <div class="previews__container">
              <span>Welcome to</span>
              <h1>Trophy</h1>
          </div>
      </div>

      <div>
          <header>
              <ul class="tabs">
                  <li class="tabs__item">Posts</li>
                  <li class="tabs__item">Categories</li>
              </ul>
          </header>
          <div class="tab">
                <ul itemscope itemtype="http://schema.org/Blog">
                    {% for post in posts %}
                    <li class="preview" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
                        <a class="preview__link" href="{% url 'post_detail' post.slug %}" itemprop="url">
                            <span class="preview__date">{{ post.created_at|date:'M d, Y | H:i' }}</span>
                            <h2 class="preview__header" itemprop="name">{{ post.title }}</h2>
                            <p class="preview__excerpt" itemprop="description">{{ post.description }}...</p>
                            <span class="preview__more">Read More</span>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                <ul>
              <footer class="section-padding--sm footer">
                <ul class='pagination' style='display:flex; margin:-40px auto;'>
                    {% if posts.has_previous %}
                    <li><a href='?page={{ posts.previous_page_number }}' style='margin-left:20px;'><i class="fa fa-angle-left"></i></a></li>
                    {% else %}
                    <li><a href='#' style='margin-left:20px;'><i class="fa fa-angle-left" style="color:#ADB5BD; cursor: default;"></i></a></li>
                    {% endif %}
                    <li><a href='#' style='margin-left:20px;'>{{ posts.number }}</a></li>
                    {% if posts.has_next %}
                    <li><a href='?page={{ posts.next_page_number }}' style='margin-left:20px;'><i class="fa fa-angle-right"></i></a></li>
                    {% else %}
                    <li><a href='#' style='margin-left:20px;'><i class="fa fa-angle-right" style="color:#ADB5BD; cursor: default;"></i></li>
                    {% endif %}
                </ul>
              </footer>
              <footer class="section-padding--sm footer">
                <a class="footer__archive" href="#">MALIKOV</a>
                <ul class="footer__social">
                    <li><a class="fa fa-lg fa-envelope-o" href="mailto:thomas.sevbofx@gmail.com"></a></li>
                    <li><a class="fa fa-lg fa-github" href="https://github.com/sevbo2003" target="_blank"></a>
                    </li>
                    <li><a class="fab fa-lg fa-telegram-plane" href="https://codepen.io/thomasvaeth/" target="_blank"></a>
                    </li>
                    <li><a class="fa fa-lg fa-linkedin" href="https://www.linkedin.com/in/abdusamad-malikov/"
                           target="_blank"></a></li>
                    <li><a class="fab fa-lg fa-youtube" href="https://www.youtube.com/channel/UCmA8lwHZHfpbSkbv65awfdQ" target="_blank"></a>
                    </li>
                    <li><a class="fa fa-lg fa-facebook" href="https://www.facebook.com/abdusamad.malikov.18"
                           target="_blank"></a></li>
                    <li><a class="fa fa-lg fa-instagram" href="https://www.instagram.com/abdusamad_malikov/"
                           target="_blank"></a></li>
                </ul>
            </footer>
          </div>
          <div class="tab">
              <ul class="cards">
                {% for cat in categories %}
                  <li class="card">
                      <a class="card__link" href="#">
                          <div class="card__img">
                              <figure class="absolute-bg"
                                      style="background-image: url('{{ cat.category_image.url }}');"></figure>
                          </div>
                          <div class="card__container">
                              <h2 class="card__header">{{ cat.category|upper }}</h2>
                              <p class="card__count"></p>
                              <span class="card__more">View All</span>
                          </div>
                      </a>
                  </li>
                  {% endfor %}
              </ul>
              <footer class="section-padding--sm footer">
                <a class="footer__archive" href="#">MALIKOV</a>
                <ul class="footer__social">
                    <li><a class="fa fa-lg fa-envelope-o" href="mailto:thomas.sevbofx@gmail.com"></a></li>
                    <li><a class="fa fa-lg fa-github" href="https://github.com/sevbo2003" target="_blank"></a>
                    </li>
                    <li><a class="fab fa-lg fa-telegram-plane" href="https://codepen.io/thomasvaeth/" target="_blank"></a>
                    </li>
                    <li><a class="fa fa-lg fa-linkedin" href="https://www.linkedin.com/in/abdusamad-malikov/"
                           target="_blank"></a></li>
                    <li><a class="fab fa-lg fa-youtube" href="https://www.youtube.com/channel/UCmA8lwHZHfpbSkbv65awfdQ" target="_blank"></a>
                    </li>
                    <li><a class="fa fa-lg fa-facebook" href="https://www.facebook.com/abdusamad.malikov.18"
                           target="_blank"></a></li>
                    <li><a class="fa fa-lg fa-instagram" href="https://www.instagram.com/abdusamad_malikov/"
                           target="_blank"></a></li>
                </ul>
            </footer>
          </div>
  </section>
</main>
{% endblock %}      
